body {
    margin: 0;
}

#main-container {
    max-width: 960px;
    max-height: 960px;
}

.flex-v, .flex-h {
    display: flex;
}

.flex-v {
    flex-direction: column;
}

.cell {
    border: .5px solid black;
    width: 5%;
    padding-bottom: 5%;
}

.cell-top {
    border-top-width: 1px;
}

.cell-bottom {
    border-bottom-width: 1px;
}

.cell-left {
    border-left-width: 1px;
}

.cell-right {
    border-right-width: 1px;
}

.hovered {
    background-color: gray;
}
